<a href="https://colab.research.google.com/github/shahyash07/random_name/blob/main/letsdoit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install streamlit

In [1]:
import streamlit as st 
import pandas as pd
import numpy as np
import random

In [2]:
name = list(['yash','hiba','Robbie','Ganesh'])
# new_list = random.shuffle(name)
# new_list = pd.DataFrame(new_list, columns={'new order'})
lr = random.sample(name, len(name))
lr

['yash', 'Ganesh', 'Robbie', 'hiba']

In [3]:
new_li = random.choice(name)
name = [n for n in name if n !=new_li]
name

['hiba', 'Robbie', 'Ganesh']

In [4]:

new_list = pd.DataFrame(lr, columns={'new order'})
new_list

  new order
0      yash
1    Ganesh
2    Robbie
3      hiba

In [5]:
na = [1,4,6,7]
type(na)

list

In [6]:
new_list

  new order
0      yash
1    Ganesh
2    Robbie
3      hiba

In [7]:
p = random.choice(name)
p

'hiba'

In [8]:
name.remove(p)
name

['Robbie', 'Ganesh']

In [9]:
[l in li for l%2==0]

SyntaxError: ignored

In [10]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip

--2021-04-07 14:38:04--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 52.6.49.248, 3.229.173.44, 54.235.108.207, ...
Connecting to bin.equinox.io (bin.equinox.io)|52.6.49.248|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14746350 (14M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  14.06M  54.6MB/s    in 0.3s

2021-04-07 14:38:05 (54.6 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [14746350/14746350]

In [11]:
!unzip ngrok-stable-linux-amd64.zip

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok

In [110]:
%%writefile app.py

import streamlit as st
import numpy as np
import random
import pandas as pd
name =['yash','hiba','Robbie','Ganesh']

def run():
  name =['yash','hiba','Robbie','Ganesh']
  from PIL import Image
  image = Image.open('logo.PNG')
  image2 = Image.open('logo3.jpg')

  st.image(image,use_column_width=False)
  st.header('Institutional Research and Data Governance')
  st.subheader("Meeting Assistant tool for Host and Order selection")
  
  st.sidebar.title('IRDG Meeting Assistant')
  st.sidebar.markdown('This application is created to select the meeting order and next host in online meetings')
  st.sidebar.image(image2, width=450)
  st.sidebar.success("Created by: Yash and Robbie")
 

  # if len(name)== 0:
  #   st.success('all names have been selected')
  col1, col2 = st.beta_columns(2) 
  with col1:
    if st.button("Who's the Host"):
      new_li = random.choice(name)
      name = [n for n in name if n !=new_li]
      st.success(new_li)
  with col2: 
    if st.button("Choose Order"):
      new_list = random.sample(name,len(name))
      new_list = pd.DataFrame(new_list, columns={'Order'})
      st.dataframe(new_list,width=10000, height=10000)
      # name.remove(output)
  # name.remove(output)

if __name__ == '__main__':
    run()

Overwriting app.py

In [111]:
get_ipython().system_raw('./ngrok http 8501 &')

In [112]:
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    'import sys, json; print("Execute the next cell and the go to the following URL: " +json.load(sys.stdin)["tunnels"][0]["public_url"])'

Execute the next cell and the go to the following URL: http://2ef2930cc895.ngrok.io

In [113]:
!streamlit run /content/app.py

  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.2:8501
  External URL: http://35.231.32.63:8501

  Stopping...
  Stopping...